{{> Modal}}

<div class="py-4">
    <h2>Actualizar datos</h2>
    <hr class="w-50" />

    <div class="form-group row w-50 m-auto">
        <div class="form-group col-12 col-sm-6">
        <label>Email</label>
        <input id="email" value="{{skaterData.email}}" class="form-control m-auto" disabled />
        </div>
        <div class="form-group col-12 col-sm-6">
        <label>Nombre</label>
        <input id="nombre" value="{{skaterData.nombre}}" class="form-control m-auto" />
        </div>
        <div class="form-group col-12 col-sm-6">
        <label>Password</label>
        <input type="password" id="password" class="form-control m-auto" />
        </div>
        <div class="form-group col-12 col-sm-6">
        <label>Repita la password</label>
        <input type="password" id="rep_password" class="form-control m-auto" />
        </div>
        <div class="form-group col-12 col-sm-6">
        <label>Años de experiencia</label>
        <input id="anos_experiencia" value="{{skaterData.anos_experiencia}}" type="number" class="form-control m-auto" />
        </div>
        <div class="form-group col-12 col-sm-6">
        <label>Especialidad</label>
        <input id="especialidad" value="{{skaterData.especialidad}}" class="form-control m-auto" />
        </div>
        <div class="form-group col-12 col-sm-12">
        </div>
    </div>
    <button onclick="editSkater()" class="btn btn-info mb-3">Editar</button>
    <button class="btn btn-danger mb-3" data-bs-toggle="modal" data-bs-target="#exampleModal">Eliminar</button>
</div>
