<div class="py-4">
    <h2>Registro</h2>
    <hr class="w-50" />

    <div class="form-group row w-50 m-auto">
        <div class="form-group col-12 col-sm-6">
        <label>Email</label>
        <input id="email" class="form-control m-auto" />
        </div>
        <div class="form-group col-12 col-sm-6">
        <label>Nombre</label>
        <input id="nombre" class="form-control m-auto" />
        </div>
        <div class="form-group col-12 col-sm-6">
        <label>Password</label>
        <input type="password" id="password" class="form-control m-auto" />
        </div>
        <div class="form-group col-12 col-sm-6">
        <label>Repita la password</label>
        <input type="password" id="rep_password" class="form-control m-auto" />
        </div>
        <div class="form-group col-12 col-sm-6">
        <label>Años de experiencia</label>
        <input id="anos_experiencia" type="number" class="form-control m-auto" />
        </div>
        <div class="form-group col-12 col-sm-6">
        <label>Especialidad</label>
        <input id="especialidad" class="form-control m-auto" />
        </div>
        <div class="form-group col-12 col-sm-12">
        <label>Foto de perfil</label>
        <input id="foto" name="foto" type="file" />
        </div>
    </div>
    <button onclick="nuevoSkater()" class="btn btn-info mb-3">Registrarme</button>
    
    <p><a href="/login"> Iniciar sesión</a></p>
</div>
