<!DOCTYPE html>
<html lang="en">
<head>
  {{> head }}
</head>
<body>
  {{> Menu }}
  {{> Titulo }}
  {{> FormLogin }}
  {{> Alert msg=msg }}

<style>
    * {
    margin: 0;
    }
    .contain {
    background: #ece9e9;
    height: 100vh;
}
</style>
{{> Foot getdata=false }}
</body>
</html>